<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lights Out Game</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="src/css/main.css">
  </head>
  <body>
    <div class="container">
      <div class="messages">
        <h1>Lights Out</h1>
        <div><a href="javascript:void(0)" id="instructions">instructions</a></div>
        <div class="instructions instructions-hide">
              As the name suggests, the object of the game is to turn out all the lights. This is done by pressing the lights. When you press a light, that light and the four adjacent (vertically and horizontally, but not diagonally) lights will toggle their on/off state. (Have a little play with it -- you'll see what I mean.)
          </div>
      </div>
    </div>

    <script type='text/template' id="game-template">
      <% var playBoard = game.board(); %>
      <div class="board">
        <% for(var i = 0; i < playBoard.length; i++) { %>
          <div class="row">
          <% for(var j = 0; j < playBoard[i].length; j++) { %>
            <%= '<div class="col-md-1 light" data-light="' + i + '-' + j + '"> <span class="inside-button"></span> </div>' %>

          <% } %>
          </div>
        <% } %>
      </div>
    </script>

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
    <script src="src/js/main.js"></script>
  </body>
</html>
