.container {
  margin-top: 20px;
}

.board {
	width: 600px;
	margin: 0 auto;
}

.light {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 55px;
  margin:5px;
  cursor:pointer;
  float:left;
  height:109px;
}

.on {
	background: radial-gradient(circle, #0f0 20%, #fff 70%);
}

.hide {
	max-height:0px;
}

.show {
	max-height:100px;
}