a, a:hover, a:focus {
  text-decoration: none;
}

.container {
  margin-top: 20px;
}

.row {
  padding: 0;
  margin: 0;
}

.board {
	width: 625px;
	margin: 0 0 20px 300PX;
  padding:10px;
  border-radius: 25px;
  background: #D1E0F0;
  box-shadow: 6px 6px 10px #999;
}

.light {
  background: radial-gradient(circle, #cdd 50%, #72BBF7 80%);
  border-radius: 65px;
  margin:5px;
  padding:0;
  cursor:pointer;
  float:left;
  width:110px;
  height: 110px;
  box-shadow: 4px 4px 8px #999;
}

.light span {
  background: radial-gradient(circle, #fff 20%, #999 80%);
  border: 1px solid #909090;
  border-radius: 40px;
  display: block;
  height: 80px;
  margin:15px;
  width:80px;
}

.light.on span {
	background: radial-gradient(circle, #80B7F2 20%, #999 70%);
}

.messages {
  position: relative;
}

.messages h1 {
  color:#35679C;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 auto;
  width: 220px;
}

.messages a {
  font-size: 24px;
  text-transform: uppercase;
}

.messages .instructions:first-letter {
  text-transform: capitalize;
}

.instructions {
  color:#999;
  font-size: 20px;
  overflow: hidden;
  margin-top:30px;
  position: absolute;
  width: 250px;
}

.instructions-hide {
  display: block;
	max-height:0px;
	transition: max-height .5s ease-out;
}

.instructions-show {
  display: block;
	max-height:600px;
	transition: max-height .5s ease-in;
}




